.leftHeader {
	background-image: url(../images/game/leftHeader.png);
}

.loginBg {
	background-image: url(../images/game/loginbg.png);
}

.cunkuan {
	background-image: url(../images/game/cunkuan.png);
}

.qukuan {
	background-image: url(../images/game/qukuan.png);
}

.serve {
	background-image: url(../images/game/service.png);
}

.illustrate {
	background-image: url(../images/game/shouming.png);
}

.LUCKY_HASH {
	background-image: url(../images/game/haxi.png);
}

.LUCKY_HASH_active {
	background-image: url(../images/game/ac_haxi.png);
}

.CHAMPION {
	background-image: url(../images/game/yuan.png);
}

.CHAMPION_active {
	background-image: url(../images/game/ac_yuan.png);
}

.LUCKY_PAIR {
	background-image: url(../images/game/duizi.png);
}

.LUCKY_PAIR_active {
	background-image: url(../images/game/ac_duizi.png);
}

.HASH_COMB {
	background-image: url(../images/game/zuhe.png);
}

.HASH_COMB_active {
	background-image: url(../images/game/ac_zuhe.png);
}

.HASH_NIUNIU {
	background-image: url(../images/game/niuniu.png);
}

.HASH_NIUNIU_active {
	background-image: url(../images/game/ac_niuniu.png);
}

.HASH_BJL {
	background-image: url(../images/game/bajiale.png);
}

.HASH_BJL_active {
	background-image: url(../images/game/ac_baijiale.png);
}

.WAIT {
	background-image: url(../images/game/kong.png);
}

.WAIT_active {
	background-image: url(../images/game/ac_kong.png);
}

.mine-info-box {
	background-image: url(../images/game/mine_bg.png);
}

.Lucky_Hash_Bg {
	background-image: url(../images/game/bg.luckhash.png);
}

.Hash_group {
	background-image: url(../images/game/group.hash.png);
}

.Lucky_hash_banner {
	background-image: url(../images/game/banner.png);
}

.Lucky_Pair_Bg {
	background-image: url(../images/game/bg.pair.png);
}

.Pair_group {
	background-image: url(../images/game/group.pair.png);
}

.Lucky_Pair_banner {
	background-image: url(../images/game/banner.pair.png);
}

.Lucky_Champion_Bg {
	background-image: url(../images/game/bg.champion.png);
}

.Champion_group {
	background-image: url(../images/game/group.champion.png);
}

.Lucky_Champion_banner {
	background-image: url(../images/game/banner.champion.png);
}

.bjl_bg {
	background-image: url(../images/game/bjl_bg.png);
}

.bjl_group {
	background-image: url(../images/game/group.bjl.png);
}

.Hash_bjl_banner {
	background-image: url(../images/game/banner.bjl.png);
}

.itemImgOrange {
	background-image: url(../images/game/orange.png);
}

.itemImgGreen {
	background-image: url(../images/game/green.png);
}

.tradeHead {
	background-image: url(../images/game/report.head.png);
}

.gamelottery_bg {
	background-image: url(../images/game/bg.lottery.png);
}

.help_bg {
	background-image: url(../images/game/helpbg.png);
}

.bg_service {
	background-image: url(../images/game/kfbg.png);
}